[MASTER]
ignore=venv,build,dist,docs
jobs=1

[MESSAGES CONTROL]
disable=R,
    missing-docstring,
    missing-class-docstring,
    missing-function-docstring,
    C0301,  # line-too-long
    E1101,  # no-member https://github.com/pylint-dev/pylint/issues/10087
    C0415,  # import-outside-toplevel

[REPORTS]
output-format=colorized

[DESIGN]
max-args=10
max-attributes=10

[BASIC]
good-names=i,j,k,ex,Run,_

[TYPECHECK]
generated-members=numpy.*,torch.*,cv2.*

[LOGGING]
logging-modules=logging